div:hover{
    background-image:url('https://img.freepik.com/premium-vector/hand-drawn-summer-background_23-2149404233.jpg')
}
div{
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-collage-design_23-2149543516.jpg');
    width: 250px;
    height: 250px;
}